{% extends 'base.html' %}
{% block content %}
    <h1>Listar Cursos</h1>
    <a href="{% url 'incluirCursos' %}" class="btn btn-primary">Cadastrar novo curso</a>
    <table class="table table-striped">
        <thead>
        <tr>

            <th>Nome</th>
            <th>Valor</th>
            <th>Ações</th>

        </tr>
        </thead>
        <tbody>

            {% for curso in lista %}
            <tr>
            <td>{{ curso.nome }}</td>
            <td>{{ curso.valor }}</td>
                <td><a href="/cadastro/editar_cursos/{{curso.codigo}}">Alterar</a> <a href="/cadastro/excluir_cursos/{{curso.codigo}}">Excluir</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

<div class="modal fade" id="telaModal" tabindex="-1" role="dialog" aria-label="telaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Exclusão</h4>
            </div>
            <form action="">
                <div class="modal-body">
                    <label>Deseja excluir?</label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" onclick="fecharTela()">Cancelar</button>
                    {% csrf_token %}
                    <button class="btn btn-primary" data-dismiss="modal" onclick="excluir()">Excluir</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    caminho = "";
    var telaModal = document.getElementById('telaModal');
    function abrirTela(url){
        caminho = url;
        telaModal.style.display = "block";
        telaModal.style.paddingRight = "17px";
        telaModal.className = "modal fade show";
    }

    function fecharTela(){
        telaModal.style.display = "none";
        telaModal.style.className = "modal fade";
    }

    function excluir(){
        fecharTela();
        window.location = caminho;
    }
</script>
{% endblock %}